@font-face {
    font-family: "GodOfWar";
    src: url("../Fonts/GODOFWAR.TTF");
}

@font-face {
    font-family: "Vampire Wars";
    src: url("../Fonts/VWI.ttf");
}

@font-face {
    font-family: "Garet Book";
    src: url("../Fonts/Garet-Book.ttf");
}

@font-face {
    font-family: "Brothers Circus Regular";
    src: url("../Fonts/Brothers.ttf");
}

.game-title {
    -fx-font-family: "Brothers Circus Regular";
    -fx-font-size: 70;
    -fx-text-fill: #FFFFFF;
}

.header-custom {
    -fx-font-family: "GodOfWar";
    -fx-font-size: 50;
    -fx-text-fill: #FFFFFF;
}

.description-label {
    -fx-font-family: "Brothers Circus Regular";
    -fx-font-size: 20;
    -fx-text-fill: #FFFFFF;
}
.main-buttons {
    -fx-font-family: "Brothers Circus Regular";
    -fx-font-size: 30;
    -fx-text-fill: #FFFFFF;
}

.item_description {
    -fx-font-family: "Brothers Circus Regular";
    -fx-font-size: 12;
    -fx-text-fill: #FFFFFF;
}

.upgrade_description {
    -fx-font-family: "Brothers Circus Regular";
    -fx-font-size: 12;
    -fx-text-fill: #000000;
}

.upgrade_title_description {
    -fx-font-family: "Brothers Circus Regular";
    -fx-font-size: 20;
    -fx-text-fill: #FFFFFF;
}

.background {
    -fx-background-image: url("../Images/background_frame.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 1000 750, false, false;   /* CARD_WIDTH x CARD_HEIGHT */
    -fx-background-position: center center;
}

.background_shop {
    -fx-background-image: url("../Images/background_frame.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 1000 750, false, false;   /* CARD_WIDTH x CARD_HEIGHT */
    -fx-background-position: center center;
}

.name_card {
    -fx-background-image: url("../Images/barmid_ready.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100 150, false, false;
    -fx-background-position: center center;
}

.arrow {
    -fx-background-image: url("../Images/arrowRed.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 50 20, false, false;
    -fx-background-position: center center;
}

