@font-face {
    font-family: "GodOfWar";
    src: url("../Fonts/GODOFWAR.TTF");
}

@font-face {
    font-family: "Vampire Wars";
    src: url("../Fonts/VWI.ttf");
}

@font-face {
    font-family: "Garet Book";
    src: url("../Fonts/Garet-Book.ttf");
}

@font-face {
    font-family: "Brothers Circus Regular";
    src: url("../Fonts/Brothers.ttf");
}

.game-title {
    -fx-font-family: "Brothers Circus Regular";
    -fx-font-size: 70;
}

.header-custom {
    -fx-font-family: "GodOfWar";
    -fx-font-size: 50;
}

.description-label {
    -fx-font-family: "Brothers Circus Regular";
    -fx-font-size: 20;
}
.main-buttons {
    -fx-font-family: "Brothers Circus Regular";
    -fx-font-size: 30;
}

.item_description {
    -fx-font-family: "Brothers Circus Regular";
    -fx-font-size: 12;
}

